<?xml version="1.0" encoding="UTF-8"?>
<config>
   <modules>
      <Telr_StandardTelrpayments>
         <version>1.0.0</version>
      </Telr_StandardTelrpayments>
   </modules>
   <frontend>
      <routers>
         <standardtelrpayments>
            <use>standard</use>
            <args>
               <module>Telr_StandardTelrpayments</module>
               <frontName>standardtelrpayments</frontName>
            </args>
         </standardtelrpayments>
      </routers>
      <layout>
            <updates>
                <standardtelrpayments>
                    <file>telr.xml</file>
                </standardtelrpayments>
            </updates>
        </layout>
      <secure_url>
         <standardtelrpayments>/standardtelrpayments/</standardtelrpayments>
      </secure_url>
    </frontend>
   <adminhtml>
      <acl>
         <resources>
            <admin>
               <children>
                  <system>
                     <children>
                        <config>
                           <children>
                              <standardtelrpayments translate="title" module="standardtelrpayments">
                                 <title>Telr Hosted Payment Gateway Settings</title>
                              </standardtelrpayments>
                           </children>
                        </config>
                     </children>
                  </system>
               </children>
            </admin>
         </resources>
      </acl>
   </adminhtml>
   <global>
      <models>
         <standardtelrpayments>
            <class>Telr_StandardTelrpayments_Model</class>
         </standardtelrpayments>
      </models>
      <resources>
         <standardtelrpayments_setup>
            <setup>
               <module>Telr_StandardTelrpayments</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </standardtelrpayments_setup>
         <standardtelrpayments_write>
            <connection>
               <use>core_write</use>
            </connection>
         </standardtelrpayments_write>
         <standardtelrpayments_read>
            <connection>
               <use>core_read</use>
            </connection>
         </standardtelrpayments_read>
      </resources>
      <blocks>
         <standardtelrpayments>
            <class>Telr_StandardTelrpayments_Block</class>
         </standardtelrpayments>
      </blocks>
      <helpers>
         <standardtelrpayments>
            <class>Telr_StandardTelrpayments_Helper</class>
         </standardtelrpayments>
      </helpers>
   </global>
   
   <default>
      <payment>
         <standardtelrpayments>
            <model>standardtelrpayments/Standard</model>
            <title>Credit/Debit Card</title>
         </standardtelrpayments>
      </payment>
   </default>
</config>